<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
    <button ion-item>
      <ion-icon class="fa fa-television" item-left></ion-icon>
      Televisions
      <div class="item-note" item-right>
        This is item #11
      </div>
    </button>
    <button ion-item>
      <i class="fa fa-television" aria-hidden="true" item-left></i>
      Televisions
      <div class="item-note" item-right>
        Click to see televisions
      </div>
    </button>
    <button ion-item>
      <fa-icon name="group" item-left></fa-icon>
      People
      <div class="item-note" item-right>
        This is item #13
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
